# .env.example
# 이 파일은 GitHub에 올려도 된다.
# 실제 Key는 절대!!!!!!!!!! 입력하지 말 것. 예시 형식만 보여준다.

GEMINI_API_KEY=your_gemini_api_key_here
MISTRAL_API_KEY=yout_mistral_api_key_here
HUGGINGFACE_TOKEN=yout_hf_token_key_here


# Gemini, Mistral 둘 다 안 될 경우, 가짜 응답
MOCK_MODE=false

LLM_MODEL=model_name_here